extend includes/page

block page
  - var pageTitle = 'Clients';
  - var pageClass = 'clients';

block content
  header.s-cells.s-margin-bottom
    .s-cell.s-expand
      .s-items-spacing--s
        a.s-button.s-swatch-aqua(href='clients-edit') #[span.icon-plus-small-thick.s-margin-right--xs]Jauns Klients
    .s-cell.s-align-right
      .fieldSearch.s-inputIcon-right
        input.s-shape-pill(type='text' placeholder='Meklēt pēc klienta, produkta vai piezīmēm')
        span.icon-search.s-comment
  .s-items-spacingVertical--xs
    .boxExpandable.boxActive.s-box.s-border-active.s-padding--none
      .boxExpandableHeader.s-cells-spacing--s.s-padding--s.s-padding-left.s-padding-right
        .s-cell
          .icon-angle-right
        .s-cell.s-expand
          .s-text-semibold me@mayack.com
          .s-text-size--s.s-comment.s-items-spacing--s
            span 1 maksājums
        .s-cell.s-text-nowrap.s-items-spacing.s-text-size--l
          a.tempTooltip.icon-credit-card.s-comment.s-swatch-aqua--text(href='javascript:void(0)')
          a.tempTooltip.icon-file.s-comment(href='javascript:void(0)')
          a.tempTooltip.icon-pencil.s-comment(href='javascript:void(0)')
      .boxExpandableFooter.s-lister-spacing--xs.s-padding.s-padding-top--s.s-padding-bottom--s.s-border-top-static(style='display:none')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
    .boxExpandable.boxActive.s-box.s-border-active.s-padding--none
      .boxExpandableHeader.s-cells-spacing--s.s-padding--s.s-padding-left.s-padding-right
        .s-cell
          .icon-angle-right
        .s-cell.s-expand
          .s-text-semibold me@mayack.com
          .s-text-size--s.s-comment.s-items-spacing--s
            span 1 maksājums
        .s-cell.s-text-nowrap.s-items-spacing.s-text-size--l
          a.tempTooltip.icon-credit-card.s-comment(href='javascript:void(0)')
          a.tempTooltip.icon-file.s-comment(href='javascript:void(0)')
          a.tempTooltip.icon-pencil.s-comment(href='javascript:void(0)')
      .boxExpandableFooter.s-lister-spacing--xs.s-padding.s-padding-top--s.s-padding-bottom--s.s-border-top-static(style='display:none')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
        .s-cells-spacing--l
          .s-cell
            | 10.04.2017
          .s-cell.s-expand
            a.s-text-semibold(href='javascript:void(0)') #MA5
          .s-cell.s-text-nowrap-semibold 15,72 €
          .s-cell
            span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
          .s-cell.s-padding-left--none
            a.actionsTrigger.icon-dots.s-comment.s-text-size--l-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)')
  include includes/row-actions