extend includes/page-front

block page
  - var pageTitle = 'Login';
  - var pageClass = 'login';

block content
  .s-row
    .s-col-5.s-move-center
      header.s-margin-bottom--l.s-align-center
        .s-text-baseline--single.s-block
          img(src='images/logo-aqua.svg' width='120')
        h1 Welcome back!
        p.s-text-size--xl.s-comment Invoice your clients easily.
      form.s-box.s-padding--l.s-margin-bottom--l
        fieldset.s-items-spacingVertical--s.s-margin-bottom
          div
            label.s-text-semibold.s-margin-bottom--xs.s-block E-mail address
            input.s-expand(type='text')
          div
            label.s-text-semibold.s-margin-bottom--xs.s-block Password
            input.s-expand(type='password')
        footer
          button.s-button.s-swatch-aqua.s-expand.s-text-size--l.s-cells
            span.s-cell.s-expand.s-align-left
              | Log in
            span.s-cell
              span.icon-angle-right-thick
      .s-items-spacingVertical--xs.s-align-center.s-text-size--l
        div
          a(href='signup') Don't have a Swipe account?
        div
          a(href='forgot-password') Forgot password?