.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 38, 38, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
