option(data-code='297', value='+297 ') Aruba (+297)
option(data-code='93', value='+93 ') Afghanistan (+93)
option(data-code='244', value='+244 ') Angola (+244)
option(data-code='1264', value='+1264 ') Anguilla (+1264)
option(data-code='358', value='+358 ') Åland Islands (+358)
option(data-code='355', value='+355 ') Albania (+355)
option(data-code='376', value='+376 ') Andorra (+376)
option(data-code='971', value='+971 ') United Arab Emirates (+971)
option(data-code='54', value='+54 ') Argentina (+54)
option(data-code='374', value='+374 ') Armenia (+374)
option(data-code='1684', value='+1684 ') American Samoa (+1684)
option(data-code='1268', value='+1268 ') Antigua and Barbuda (+1268)
option(data-code='61', value='+61 ') Australia (+61)
option(data-code='43', value='+43 ') Austria (+43)
option(data-code='994', value='+994 ') Azerbaijan (+994)
option(data-code='257', value='+257 ') Burundi (+257)
option(data-code='32', value='+32 ') Belgium (+32)
option(data-code='229', value='+229 ') Benin (+229)
option(data-code='226', value='+226 ') Burkina Faso (+226)
option(data-code='880', value='+880 ') Bangladesh (+880)
option(data-code='359', value='+359 ') Bulgaria (+359)
option(data-code='973', value='+973 ') Bahrain (+973)
option(data-code='1242', value='+1242 ') Bahamas (+1242)
option(data-code='387', value='+387 ') Bosnia and Herzegovina (+387)
option(data-code='590', value='+590 ') Saint Barthélemy (+590)
option(data-code='375', value='+375 ') Belarus (+375)
option(data-code='501', value='+501 ') Belize (+501)
option(data-code='1441', value='+1441 ') Bermuda (+1441)
option(data-code='591', value='+591 ') Bolivia (+591)
option(data-code='55', value='+55 ') Brazil (+55)
option(data-code='1246', value='+1246 ') Barbados (+1246)
option(data-code='673', value='+673 ') Brunei (+673)
option(data-code='975', value='+975 ') Bhutan (+975)
option(data-code='267', value='+267 ') Botswana (+267)
option(data-code='236', value='+236 ') Central African Republic (+236)
option(data-code='1', value='+1 ') Canada (+1)
option(data-code='61', value='+61 ') Cocos (Keeling) Islands (+61)
option(data-code='41', value='+41 ') Switzerland (+41)
option(data-code='56', value='+56 ') Chile (+56)
option(data-code='86', value='+86 ') China (+86)
option(data-code='225', value='+225 ') Ivory Coast (+225)
option(data-code='237', value='+237 ') Cameroon (+237)
option(data-code='243', value='+243 ') DR Congo (+243)
option(data-code='242', value='+242 ') Republic of the Congo (+242)
option(data-code='682', value='+682 ') Cook Islands (+682)
option(data-code='57', value='+57 ') Colombia (+57)
option(data-code='269', value='+269 ') Comoros (+269)
option(data-code='238', value='+238 ') Cape Verde (+238)
option(data-code='506', value='+506 ') Costa Rica (+506)
option(data-code='53', value='+53 ') Cuba (+53)
option(data-code='5999', value='+5999 ') Curaçao (+5999)
option(data-code='61', value='+61 ') Christmas Island (+61)
option(data-code='1345', value='+1345 ') Cayman Islands (+1345)
option(data-code='357', value='+357 ') Cyprus (+357)
option(data-code='420', value='+420 ') Czech Republic (+420)
option(data-code='49', value='+49 ') Germany (+49)
option(data-code='253', value='+253 ') Djibouti (+253)
option(data-code='1767', value='+1767 ') Dominica (+1767)
option(data-code='45', value='+45 ') Denmark (+45)
option(data-code='1809', value='+1809 ') Dominican Republic (+1809)
option(data-code='213', value='+213 ') Algeria (+213)
option(data-code='593', value='+593 ') Ecuador (+593)
option(data-code='20', value='+20 ') Egypt (+20)
option(data-code='291', value='+291 ') Eritrea (+291)
option(data-code='212', value='+212 ') Western Sahara (+212)
option(data-code='34', value='+34 ') Spain (+34)
option(data-code='372', value='+372 ') Estonia (+372)
option(data-code='251', value='+251 ') Ethiopia (+251)
option(data-code='358', value='+358 ') Finland (+358)
option(data-code='679', value='+679 ') Fiji (+679)
option(data-code='500', value='+500 ') Falkland Islands (+500)
option(data-code='33', value='+33 ') France (+33)
option(data-code='298', value='+298 ') Faroe Islands (+298)
option(data-code='691', value='+691 ') Micronesia (+691)
option(data-code='241', value='+241 ') Gabon (+241)
option(data-code='44', value='+44 ') United Kingdom (+44)
option(data-code='995', value='+995 ') Georgia (+995)
option(data-code='44', value='+44 ') Guernsey (+44)
option(data-code='233', value='+233 ') Ghana (+233)
option(data-code='350', value='+350 ') Gibraltar (+350)
option(data-code='224', value='+224 ') Guinea (+224)
option(data-code='590', value='+590 ') Guadeloupe (+590)
option(data-code='220', value='+220 ') Gambia (+220)
option(data-code='245', value='+245 ') Guinea-Bissau (+245)
option(data-code='240', value='+240 ') Equatorial Guinea (+240)
option(data-code='30', value='+30 ') Greece (+30)
option(data-code='1473', value='+1473 ') Grenada (+1473)
option(data-code='299', value='+299 ') Greenland (+299)
option(data-code='502', value='+502 ') Guatemala (+502)
option(data-code='594', value='+594 ') French Guiana (+594)
option(data-code='1671', value='+1671 ') Guam (+1671)
option(data-code='592', value='+592 ') Guyana (+592)
option(data-code='852', value='+852 ') Hong Kong (+852)
option(data-code='504', value='+504 ') Honduras (+504)
option(data-code='385', value='+385 ') Croatia (+385)
option(data-code='509', value='+509 ') Haiti (+509)
option(data-code='36', value='+36 ') Hungary (+36)
option(data-code='62', value='+62 ') Indonesia (+62)
option(data-code='44', value='+44 ') Isle of Man (+44)
option(data-code='91', value='+91 ') India (+91)
option(data-code='246', value='+246 ') British Indian Ocean Territory (+246)
option(data-code='353', value='+353 ') Ireland (+353)
option(data-code='98', value='+98 ') Iran (+98)
option(data-code='964', value='+964 ') Iraq (+964)
option(data-code='354', value='+354 ') Iceland (+354)
option(data-code='972', value='+972 ') Israel (+972)
option(data-code='39', value='+39 ') Italy (+39)
option(data-code='1876', value='+1876 ') Jamaica (+1876)
option(data-code='44', value='+44 ') Jersey (+44)
option(data-code='962', value='+962 ') Jordan (+962)
option(data-code='81', value='+81 ') Japan (+81)
option(data-code='76', value='+76 ') Kazakhstan (+76)
option(data-code='254', value='+254 ') Kenya (+254)
option(data-code='996', value='+996 ') Kyrgyzstan (+996)
option(data-code='855', value='+855 ') Cambodia (+855)
option(data-code='686', value='+686 ') Kiribati (+686)
option(data-code='1869', value='+1869 ') Saint Kitts and Nevis (+1869)
option(data-code='82', value='+82 ') South Korea (+82)
option(data-code='383', value='+383 ') Kosovo (+383)
option(data-code='965', value='+965 ') Kuwait (+965)
option(data-code='856', value='+856 ') Laos (+856)
option(data-code='961', value='+961 ') Lebanon (+961)
option(data-code='231', value='+231 ') Liberia (+231)
option(data-code='218', value='+218 ') Libya (+218)
option(data-code='1758', value='+1758 ') Saint Lucia (+1758)
option(data-code='423', value='+423 ') Liechtenstein (+423)
option(data-code='94', value='+94 ') Sri Lanka (+94)
option(data-code='266', value='+266 ') Lesotho (+266)
option(data-code='370', value='+370 ') Lithuania (+370)
option(data-code='352', value='+352 ') Luxembourg (+352)
option(data-code='371', value='+371 ', selected='') Latvia (+371)
option(data-code='853', value='+853 ') Macau (+853)
option(data-code='590', value='+590 ') Saint Martin (+590)
option(data-code='212', value='+212 ') Morocco (+212)
option(data-code='377', value='+377 ') Monaco (+377)
option(data-code='373', value='+373 ') Moldova (+373)
option(data-code='261', value='+261 ') Madagascar (+261)
option(data-code='960', value='+960 ') Maldives (+960)
option(data-code='52', value='+52 ') Mexico (+52)
option(data-code='692', value='+692 ') Marshall Islands (+692)
option(data-code='389', value='+389 ') Macedonia (+389)
option(data-code='223', value='+223 ') Mali (+223)
option(data-code='356', value='+356 ') Malta (+356)
option(data-code='95', value='+95 ') Myanmar (+95)
option(data-code='382', value='+382 ') Montenegro (+382)
option(data-code='976', value='+976 ') Mongolia (+976)
option(data-code='1670', value='+1670 ') Northern Mariana Islands (+1670)
option(data-code='258', value='+258 ') Mozambique (+258)
option(data-code='222', value='+222 ') Mauritania (+222)
option(data-code='1664', value='+1664 ') Montserrat (+1664)
option(data-code='596', value='+596 ') Martinique (+596)
option(data-code='230', value='+230 ') Mauritius (+230)
option(data-code='265', value='+265 ') Malawi (+265)
option(data-code='60', value='+60 ') Malaysia (+60)
option(data-code='262', value='+262 ') Mayotte (+262)
option(data-code='264', value='+264 ') Namibia (+264)
option(data-code='687', value='+687 ') New Caledonia (+687)
option(data-code='227', value='+227 ') Niger (+227)
option(data-code='672', value='+672 ') Norfolk Island (+672)
option(data-code='234', value='+234 ') Nigeria (+234)
option(data-code='505', value='+505 ') Nicaragua (+505)
option(data-code='683', value='+683 ') Niue (+683)
option(data-code='31', value='+31 ') Netherlands (+31)
option(data-code='47', value='+47 ') Norway (+47)
option(data-code='977', value='+977 ') Nepal (+977)
option(data-code='674', value='+674 ') Nauru (+674)
option(data-code='64', value='+64 ') New Zealand (+64)
option(data-code='968', value='+968 ') Oman (+968)
option(data-code='92', value='+92 ') Pakistan (+92)
option(data-code='507', value='+507 ') Panama (+507)
option(data-code='64', value='+64 ') Pitcairn Islands (+64)
option(data-code='51', value='+51 ') Peru (+51)
option(data-code='63', value='+63 ') Philippines (+63)
option(data-code='680', value='+680 ') Palau (+680)
option(data-code='675', value='+675 ') Papua New Guinea (+675)
option(data-code='48', value='+48 ') Poland (+48)
option(data-code='1787', value='+1787 ') Puerto Rico (+1787)
option(data-code='850', value='+850 ') North Korea (+850)
option(data-code='351', value='+351 ') Portugal (+351)
option(data-code='595', value='+595 ') Paraguay (+595)
option(data-code='970', value='+970 ') Palestine (+970)
option(data-code='689', value='+689 ') French Polynesia (+689)
option(data-code='974', value='+974 ') Qatar (+974)
option(data-code='262', value='+262 ') Réunion (+262)
option(data-code='40', value='+40 ') Romania (+40)
option(data-code='7', value='+7 ') Russia (+7)
option(data-code='250', value='+250 ') Rwanda (+250)
option(data-code='966', value='+966 ') Saudi Arabia (+966)
option(data-code='249', value='+249 ') Sudan (+249)
option(data-code='221', value='+221 ') Senegal (+221)
option(data-code='65', value='+65 ') Singapore (+65)
option(data-code='500', value='+500 ') South Georgia (+500)
option(data-code='4779', value='+4779 ') Svalbard and Jan Mayen (+4779)
option(data-code='677', value='+677 ') Solomon Islands (+677)
option(data-code='232', value='+232 ') Sierra Leone (+232)
option(data-code='503', value='+503 ') El Salvador (+503)
option(data-code='378', value='+378 ') San Marino (+378)
option(data-code='252', value='+252 ') Somalia (+252)
option(data-code='508', value='+508 ') Saint Pierre and Miquelon (+508)
option(data-code='381', value='+381 ') Serbia (+381)
option(data-code='211', value='+211 ') South Sudan (+211)
option(data-code='239', value='+239 ') São Tomé and Príncipe (+239)
option(data-code='597', value='+597 ') Suriname (+597)
option(data-code='421', value='+421 ') Slovakia (+421)
option(data-code='386', value='+386 ') Slovenia (+386)
option(data-code='46', value='+46 ') Sweden (+46)
option(data-code='268', value='+268 ') Swaziland (+268)
option(data-code='1721', value='+1721 ') Sint Maarten (+1721)
option(data-code='248', value='+248 ') Seychelles (+248)
option(data-code='963', value='+963 ') Syria (+963)
option(data-code='1649', value='+1649 ') Turks and Caicos Islands (+1649)
option(data-code='235', value='+235 ') Chad (+235)
option(data-code='228', value='+228 ') Togo (+228)
option(data-code='66', value='+66 ') Thailand (+66)
option(data-code='992', value='+992 ') Tajikistan (+992)
option(data-code='690', value='+690 ') Tokelau (+690)
option(data-code='993', value='+993 ') Turkmenistan (+993)
option(data-code='670', value='+670 ') Timor-Leste (+670)
option(data-code='676', value='+676 ') Tonga (+676)
option(data-code='1868', value='+1868 ') Trinidad and Tobago (+1868)
option(data-code='216', value='+216 ') Tunisia (+216)
option(data-code='90', value='+90 ') Turkey (+90)
option(data-code='688', value='+688 ') Tuvalu (+688)
option(data-code='886', value='+886 ') Taiwan (+886)
option(data-code='255', value='+255 ') Tanzania (+255)
option(data-code='256', value='+256 ') Uganda (+256)
option(data-code='380', value='+380 ') Ukraine (+380)
option(data-code='598', value='+598 ') Uruguay (+598)
option(data-code='1', value='+1 ') United States (+1)
option(data-code='998', value='+998 ') Uzbekistan (+998)
option(data-code='3906698', value='+3906698 ') Vatican City (+3906698)
option(data-code='1784', value='+1784 ') Saint Vincent and the Grenadines (+1784)
option(data-code='58', value='+58 ') Venezuela (+58)
option(data-code='1284', value='+1284 ') British Virgin Islands (+1284)
option(data-code='1340', value='+1340 ') United States Virgin Islands (+1340)
option(data-code='84', value='+84 ') Vietnam (+84)
option(data-code='678', value='+678 ') Vanuatu (+678)
option(data-code='681', value='+681 ') Wallis and Futuna (+681)
option(data-code='685', value='+685 ') Samoa (+685)
option(data-code='967', value='+967 ') Yemen (+967)
option(data-code='27', value='+27 ') South Africa (+27)
option(data-code='260', value='+260 ') Zambia (+260)
option(data-code='263', value='+263 ') Zimbabwe (+263)