header.s-cells-spacing--s.s-border-bottom-disabled.s-padding-bottom.s-margin-bottom--l
  .s-cell
    a.icon-angle-left-thick.s-text-size--3xl(href=pageClass)
  .s-cell.s-text-nowrap-size--3xl
    h2= pageTitle
  .s-cell.s-expand.s-align-right