#notificationCenter.popoverFloat.s-swatch-default.s-popover-top-left.s-box.s-border-overlay.s-padding--none
  .s-popoverArrow
  ul.s-lister-spacing--none.s-list-nobullets.s-overflow.s-shape-rounded
    li
      a.s-block.s-swatch-default.s-padding--s(href='javascript:void(0)')
        span.s-block.s-text-semibold Some action happened
        span.s-block.s-comment.s-text-size--s Some subinformation can be placed here.
    li
      a.s-block.s-swatch-default.s-padding--s(href='javascript:void(0)')
        span.s-block.s-text-semibold Some action happened
        span.s-block.s-comment.s-text-size--s Some subinformation can be placed here.
    li
      a.s-block.s-swatch-default.s-padding--s(href='javascript:void(0)')
        span.s-block.s-text-semibold Some action happened
        span.s-block.s-comment.s-text-size--s Some subinformation can be placed here.
    li
      a.s-block.s-swatch-default.s-padding--s(href='javascript:void(0)')
        span.s-block.s-text-semibold Some action happened
        span.s-block.s-comment.s-text-size--s Some subinformation can be placed here.
