#timelineActions.popoverFloat.s-popover-top-right.s-box.s-border-overlay.s-padding--none
  .s-popoverArrow
  ul.s-lister-spacing--none.s-list-nobullets.s-shape-rounded.s-overflow
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="javascript:void(0)") Apskatīt
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="javascript:void(0)") Rediģēt
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="/contacts-edit") Drukāt
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="/contacts-edit") Izveidot kopiju
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="/contacts-edit") Lejupielādēt
    li
      a.s-swatch-default.s-padding-top--xs.s-padding-bottom--xs.s-padding--s.s-block(href="javascript:void(0)") 
        span.s-effect-danger--text Izdzēst