#sidebarRight.s-layoutColumn.s-swatch-coal
  aside
    a#sidebarRightClose.icon-close.s-text-size--l.s-comment(href='javascript:void(0)')
    #sidebarRightContent
      .s-cells.s-align-center
        .s-cell.s-padding.s-align-middle
          figure.s-text-font--clear
            img.s-inline(src='images/icon-verify.svg' width='100')
          h1 Apstiprini kontu.
          p Sāc pieņemt Visa un MasterCard maksājumus tiešsaistē.
          a.s-button.s-swatch-aqua.s-border-outline(href='javascript:void(0)') Pieteikties#[span.icon-angle-right-thick.s-margin-left--xs]
    //- footer
    //-   a#sidebarRightClose.s-align-center.s-padding-top--s.s-padding-bottom--s.s-border-top-static.s-comment.s-text-size--s-caps.s-block(href='javascript:void(0)') #[span.icon-close.s-margin-right--xs]Close