a.s-box.s-swatch-default.s-padding--s.s-padding-top--xs.s-padding-bottom--xs.s-cells-spacing--s(href='javascript:void(0)')
  .s-cell
    span.icon-user.s-text-size--xl
  .s-cell.s-expand
    .s-text-semibold jevgenijs.novickis@gmail.com
    .s-comment.s-text-size--s Some subtitle