a.s-box.s-swatch-default.s-padding--s.s-padding-top--xs.s-padding-bottom--xs.s-cells-spacing--s(href='javascript:void(0)')
  .s-cell
    span.icon-file.s-text-size--xl
  .s-cell.s-expand
    span.s-text-semibold Invoice name #12345
    .s-comment.s-text-size--s Some subtitle