#timelineFilter.popoverFloat.s-swatch-default.s-popover-top-left.s-box.s-border-overlay.s-padding--s
  .s-popoverArrow
  form
    .s-items-spacingVertical--xs
      div
        select.s-expand(data-placeholder='Brand')
          option 
          option 123
          option 234
          option 345
      div
        select.s-expand(data-placeholder='Product')
          option 
          option 123
          option 234
          option 345
      div
        select.s-expand(data-placeholder='Account')
          option 
          option 123
          option 234
          option 345
      div
        select.s-expand(data-placeholder='Status')
          option 
          option Declined (2)
          option Paid (237)
          option Refunds (14)
          option Swipe fees (15)
          option Transfers (3)
          option Abandoned payments (32)
          option Test invoices (24)
      button.s-button.s-swatch-stone.s-expand Apply
#timelineExport.popoverFloat.s-swatch-default.s-popover-top-center.s-box.s-border-overlay.s-text-size--s.s-padding--s
  .s-popoverArrow
  .s-items-spacingVertical--xs
    a.s-button.s-block.s-swatch-stone.s-text-caps(href='javascript:void(0)') #[span.icon-file.s-margin-right--xs.s-text-size--l.s-swatch-aqua--text]csv
    a.s-button.s-block.s-swatch-stone.s-text-caps(href='javascript:void(0)') #[span.icon-file.s-margin-right--xs.s-text-size--l.s-swatch-aqua--text]xlsx