.clickable.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder(style='background-image:url(temp/logo-qfer.svg)')
  .s-cell.s-expand
    a.s-text-semibold(href='javascript:void(0)') spam@mayack.com
    .s-comment.s-text-size--s.s-items-spacing
      span #MA50009
      span #[span.icon-api]&nbsp;API
      span #[span.icon-asterisk]&nbsp;Test
  .s-cell.s-text-nowrap-semibold 34,99 €
  .s-cell
    span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
  .s-cell.s-padding-left--none
    a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)' data-popover='timelineActions')
.clickable.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder.empty--brass SW
  .s-cell.s-expand
    a.s-text-semibold(href='javascript:void(0)') spam@mayack.com
    .s-comment.s-text-size--s.s-items-spacing
      span #MA50009
      span #[span.icon-api]&nbsp;API
      span #[span.icon-asterisk]&nbsp;Test
  .s-cell.s-text-nowrap-semibold 34,99 €
  .s-cell
    span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Viewed
  .s-cell.s-padding-left--none
    a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)' data-popover='timelineActions')
.clickable.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder.empty--blue MMT
  .s-cell.s-expand
    a.s-text-semibold(href='javascript:void(0)') jevgenijs.novickis@gmail.com
    .s-comment.s-text-size--s.s-items-spacing
      span #ST32400
  .s-cell.s-text-nowrap-semibold 25,00 €
  .s-cell
    span.paymentStatus.s-label.s-shape-pill.s-effect-neutral.s-text-size--s-semibold Sent
  .s-cell.s-padding-left--none
    a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)' data-popover='timelineActions')
.clickable.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder(style='background-image:url(temp/logo-patagonia.svg)')
  .s-cell.s-expand
    a.s-text-semibold(href='javascript:void(0)') tim.cook@apple.com
    .s-comment.s-text-size--s #MA5
  .s-cell.s-text-nowrap-semibold.s-align-right
    div 605,72 €
    a.underlined.s-comment.s-text-regular-size--s(href='javascript:void(0)' data-popover='transactionPending' data-popover-event='hover') Ожидается 20.00 €
  .s-cell 
    span.paymentStatus.s-label.s-shape-pill.s-effect-success.s-text-size--s-semibold Paid
  .s-cell.s-padding-left--none
    a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)' data-popover='timelineActions')
.expandable
  .expandableHeader.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
    .s-cell
      | 10.04.2017
      .s-comment.s-text-size--s 17:12
    .s-cell.s-desktopLarge-show
      .logoHolder.empty--orange RTU, BSA, TSI
    .s-cell.s-expand
      .s-text-semibold Перечислены 3 платежа
      .s-text-size--s.s-items-spacing--s.s-comment
        span #SWIPE1465
        a.s-comment(href='javascript:void(0)' data-tooltip='<strong>28 августа 2017</strong> перечислены 3 платежа на банковский счет, оканчивающийся на ...5001')
          span.icon-bank
          | &nbsp;
          span.underlined HSBC 4565
    .s-cell.s-text-nowrap.s-items-spacing
      span Всего #[span.s-text-semibold 17.92 €]
    .s-cell
      span.paymentStatus.s-label.s-shape-pill.s-effect-info.s-text-size--s-semibold.s-border-dotted Batch
    .s-cell.s-padding-left--none
      a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle.s-invisible(href='javascript:void(0)')
  .expandableFooter.s-padding-bottom--s.s-padding-left--xs.s-padding-right--xs(style='display:none')
    .s-items-spacing--s.s-box.s-swatch-stone.s-shape-rounded-top.s-border-bottom--none.s-padding--xs.s-padding-left.s-text-size--s
      span.s-text-semibold Скачать выписку
      a.s-comment.s-text-caps(href='javascript:void(0)') #[span.icon-file.s-swatch-aqua--text]&nbsp;pdf
      a.s-comment.s-text-caps(href='javascript:void(0)') #[span.icon-file.s-swatch-aqua--text]&nbsp;csv
    .s-box.s-lister-spacing--s.s-shape-rounded-bottom
      .s-cells-spacing--l
        .s-cell
          | 10.04.2017
        .s-cell
          | #1492591029_720633
        .s-cell.s-expand
          | jmtsolutions@gmail.com
        .s-cell.s-text-nowrap-semibold 15,72 €
      .s-cells-spacing--l
        .s-cell
          | 10.04.2017
        .s-cell
          | #1492591029_720633
        .s-cell.s-expand
          | jmtsolutions@gmail.com
        .s-cell.s-text-nowrap-semibold 15,72 €
      .s-cells-spacing--l
        .s-cell
          | 10.04.2017
        .s-cell
          | #1492591029_720633
        .s-cell.s-expand
          | jmtsolutions@gmail.com
        .s-cell.s-text-nowrap-semibold 15,72 €
.clickable.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder.empty--mint sl
  .s-cell.s-expand
    a.s-text-semibold(href='javascript:void(0)') eckhart.tolle@newage.com
    .s-comment.s-text-size--s.s-items-spacing
      span #MA5
  .s-cell.s-text-nowrap-semibold 15,40 €
  .s-cell
    span.paymentStatus.s-label.s-shape-pill.s-effect-danger.s-text-size--s-semibold Denied
  .s-cell.s-padding-left--none
    a.icon-dots.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle(href='javascript:void(0)' data-popover='timelineActions')
.s-cells-spacing--l.s-padding-left--xs.s-padding-right--xs
  .s-cell
    | 10.04.2017
    .s-comment.s-text-size--s 17:12
  .s-cell.s-desktopLarge-show
    .logoHolder.empty--violet RVS
  .s-cell.s-expand
    span.s-text-semibold Комиссия за вывод средств
    .s-comment.s-text-size--s.s-items-spacing
      span #MA5
  .s-cell.s-text-nowrap-semibold 200,00 €
  .s-cell
    span.paymentStatus.s-label.s-shape-pill.s-effect-warning.s-text-size--s-semibold.s-border-dotted Fee
  .s-cell.s-padding-left--none
    a.icon-plus-small-thick.s-comment.s-text-size--xl-baseline--single.s-padding--xs.s-shape-circle.s-invisible(href='javascript:void(0)')