#transactionPending.s-popover.s-popover-top-center.popoverFloat.s-box.s-swatch-coal.s-padding--xs
  .s-popoverArrow
  .s-lister-spacing--xs
    .s-cells-spacing--l
      .s-cell
        .s-text-semibold Депозит
        .s-comment через 119 дней
      .s-cell.s-align-right
        | 2,08 €
    .s-cells-spacing--l
      .s-cell
        .s-text-semibold Ожидается
        .s-comment Сегодня
      .s-cell.s-align-right
        | 17,92 €
    .s-cells-spacing--l.s-effect-success--text
      .s-cell.s-text-semibold Комиссия
      .s-cell.s-align-right
        | 17,92 €