extend includes/page-front

block page
  - var pageTitle = 'Set password';
  - var pageClass = 'set-password';

block content
  header.s-margin-bottom--l.s-align-center
    .s-text-baseline--single.s-block
      img(src='images/logo-aqua.svg' width='120')
    h1.s-margin-bottom--xs Set your new password.
    p.s-text-size--xl.s-comment Come up with something secure.
  form.s-box.s-padding--l.s-margin-bottom--l
    fieldset.s-items-spacingVertical--s.s-margin-bottom
      div
        label.s-text-semibold.s-margin-bottom--xs.s-block New password
        .s-inputIcon-right.s-expand
          input.s-expand(type='password')
          a.icon-eye-open.s-text-size--xl.show-password.s-comment(href='javascript:void(0)' data-tooltip="Show password")
    footer
      button.s-button.s-swatch-aqua.s-expand.s-text-size--l.s-cells
          span.s-cell.s-expand.s-align-left
            | Set Password
          span.s-cell
            span.icon-angle-right-thick
  .s-items-spacingVertical--xs.s-align-center.s-text-size--l
    div
      a(href='signup') Don't have a Swipe account?
    div
      a(href='forgot-password') Forgot password?