@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23159714');
  src: url('../font/fontello.eot?23159714#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?23159714') format('woff2'),
       url('../font/fontello.woff?23159714') format('woff'),
       url('../font/fontello.ttf?23159714') format('truetype'),
       url('../font/fontello.svg?23159714#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23159714#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-credit-card:before { content: '\e800'; } /* '' */
.icon-asterisk:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-eye-closed:before { content: '\e803'; } /* '' */
.icon-circle-pause:before { content: '\e804'; } /* '' */
.icon-circle-refresh:before { content: '\e805'; } /* '' */
.icon-google:before { content: '\e806'; } /* '' */
.icon-file:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-pencil:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-refresh:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-box:before { content: '\e810'; } /* '' */
.icon-api:before { content: '\e811'; } /* '' */
.icon-timeline:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-controls:before { content: '\e816'; } /* '' */
.icon-gear:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-logout:before { content: '\e819'; } /* '' */
.icon-angle-bottom:before { content: '\e81a'; } /* '' */
.icon-angle-left:before { content: '\e81b'; } /* '' */
.icon-angle-right:before { content: '\e81c'; } /* '' */
.icon-angle-top:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-dots:before { content: '\e81f'; } /* '' */
.icon-star-filled:before { content: '\e820'; } /* '' */
.icon-circle-ok:before { content: '\e821'; } /* '' */
.icon-share:before { content: '\e823'; } /* '' */
.icon-facebook:before { content: '\e824'; } /* '' */
.icon-twitter:before { content: '\e825'; } /* '' */
.icon-close:before { content: '\e826'; } /* '' */
.icon-megaphone:before { content: '\e827'; } /* '' */
.icon-support:before { content: '\e828'; } /* '' */
.icon-support-thin:before { content: '\e829'; } /* '' */
.icon-phone-2:before { content: '\e82a'; } /* '' */
.icon-star:before { content: '\e82b'; } /* '' */
.icon-calendar:before { content: '\e82c'; } /* '' */
.icon-chat-2:before { content: '\e82d'; } /* '' */
.icon-plus-small-thick:before { content: '\e82e'; } /* '' */
.icon-angle-left-thick:before { content: '\e82f'; } /* '' */
.icon-angle-right-thick:before { content: '\e830'; } /* '' */
.icon-angle-bottom-thick:before { content: '\e831'; } /* '' */
.icon-angle-top-thick:before { content: '\e832'; } /* '' */
.icon-eye-open:before { content: '\e833'; } /* '' */
.icon-circle-arrow-bottom-thick:before { content: '\e834'; } /* '' */
.icon-controls-thick:before { content: '\e836'; } /* '' */
.icon-circle-arrow-bottom:before { content: '\e837'; } /* '' */
.icon-close-thin:before { content: '\e838'; } /* '' */
.icon-warning-thick:before { content: '\e839'; } /* '' */
.icon-help:before { content: '\e83a'; } /* '' */
.icon-download:before { content: '\e83b'; } /* '' */
.icon-circle-info:before { content: '\e83c'; } /* '' */
.icon-circle-info-thick:before { content: '\e83d'; } /* '' */
.icon-circle-warning:before { content: '\e83e'; } /* '' */
.icon-triangle-warning:before { content: '\e83f'; } /* '' */
.icon-bank:before { content: '\e840'; } /* '' */
.icon-ok-thick:before { content: '\e87b'; } /* '' */